---
import Container from "./Container.astro"
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  { href: '/about', label: 'À Propos' },
  { href: '/#services', label: 'Services' },
  { href: '/#projects', label: 'Réalisations' },
  { href: '/pricing', label: 'Tarifs' },
  { href: '/articles', label: 'Blog'},
];

const navButton = { href: 'https://calendly.com/maxchrf/30min', label: 'Demander un devis' };
---

<div class="mt-20">
<nav class="w-full top-0 left-0 z-50 fixed bg-white border-b border-zinc-100">
  <Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/Logo.svg" class="h-8" alt="Logo" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-zinc-900" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="font-medium flex flex-col p-4 lg:p-0 mt-4 border border-zinc-100 rounded-lg lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0">
          {menuitems.map((item) => (
            <li>
              <a
                href={item.href}
                class="block py-2 px-4 text-zinc-900 hover:text-zime-44 transition-colors duration-300"
              >
                {item.label}
              </a>
            </li>
          ))}
          <div class="lg:hidden flex items-center justify-center mt-3 gap-4">
              <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex items-center gap-2 transition-all duration-300" href={navButton.href} target="_blank">
                <span class="text-xl font-normal leading-7">{navButton.label}</span>
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
              </a>
          </div>
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex items-center gap-2 transition-all duration-300" href={navButton.href} target="_blank">
            <span class="text-xl font-normal leading-7">{navButton.label}</span>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
        </a>
      </div>
    </div>
  </header>
</Container>
</nav>
</div>

<style>
    nav {
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.95);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .active {
        @apply text-zime-44;
    }
</style>